<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Edition</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
       .bg-purple-light {
        background: #e5e9f2;
    }

    .el-dropdown {
        vertical-align: top;
    }
    .el-dropdown + .el-dropdown {
        margin-left: 15px;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }

    </style>
</head>
<body>
<div id="app1">
    <el-row>
        <el-col span="24">
            <div class="grid-content bg-purple-light">
                <span class="demonstration">Select Entity: </span>
                <el-select v-model="select1" placeholder="请选择实体" @change="handleClick">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="{ value: item.value, label: item.label }">
                    </el-option>
                </el-select>
                <el-button type="primary" @click="setup">Entity Setup</el-button>
            </div>
        </el-col>
    </el-row>
</div>
</br>
<div id="app">
    <el-row>
        <el-col span="24">
            <div>Entity Details:</div>
            <el-table size="mini" :data="master_user.data.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                      highlight-current-row height="450" border style="width:100%"
                      :header-cell-style="{'background-color': '#dddddd','color': 'rgb(0, 0, 0)','border-bottom': '1px rgb(200, 200, 200) solid'}">
                <el-table-column type="index" label="No."></el-table-column>
                <el-table-column label="Action" width="75">
                    <template slot-scope="scope">
                    <span class="el-tag el-tag--danger el-tag--mini"
                          style="cursor: pointer;"
                          @click="pwdChange(scope.row,scope.$index,false)">
                    <el-tooltip placement="top">
                      <div slot="content">Delete</div>
                      <i class="el-icon-delete"></i>
                  </el-tooltip>
              </span>
                        <span class="el-tag el-tag--info el-tag--mini" style="cursor: pointer;"
                              @click="openDialog(scope.row,scope.$index)">
              <el-tooltip placement="top">
                  <div slot="content">Edit</div>
                  <i class="el-icon-edit-outline"></i>
              </el-tooltip>
          </span>
                    </template>
                </el-table-column>
                <el-table-column v-for="(v,i) in master_user.columns" :prop="v.field" :label="v.title" :type="v.type"
                                 :width="v.width">
                    <template slot-scope="scope">
                        {{scope.row[v.field]}}
                    </template>
                </el-table-column>

            </el-table>
            <div class="pagination">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 50, 100]"
                        :page-size="pagesize"
                        layout="total, sizes,prev, pager, next"
                        :total="master_user.data.length"
                        prev-text="上一页"
                        next-text="下一页">
                </el-pagination>
            </div>
        </el-col>
    </el-row>

    <el-row>
        <!-- Form dialog -->
        <span v-if="master_user.sel">
        <el-dialog :title="dialog_title" :visible.sync="dialogFormVisible">
            <el-form :model="master_user" ref="formSubmit">
                <el-row>
                    <el-col v-for="(v, i) in master_user.columns" :key="v.field" :span="12" style="height:50px">
                        <span v-if="v.type=='datetime' || v.type=='timestamp'">
                            <el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
                                <el-date-picker size="mini" style="width:180px"
                                                v-model="master_user.sel[v.field]"
                                                type="datetime" format="yyyy-MM-dd HH:mm:ss"
                                                value-format="yyyy-MM-dd HH:mm:ss"
                                                placeholder="选择日期和时间">
                            </el-date-picker>
                        </el-form-item>
                    </span>
                    <span v-else-if="v.type=='date'">
                        <el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
                            <el-date-picker size="mini" style="width:180px"
                                            v-model="master_user.sel[v.field]"
                                            type="date"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>
                </span>
                <span v-else-if="v.type=='bigint' ||v.type=='int'">
                    <el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
                        <el-input v-model="master_user.sel[v.field]" :rows="1" size="mini"
                                  placeholder="Input Number"
                                  style="width:180px" oninput="value=value.replace(/[^0-9]/g,'')" maxlength="20">
                    </el-input>
                </el-form-item>
            </span>
            <span v-else-if="v.type=='float' ||v.type=='numeric'">
                <el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
                    <el-input-number size="mini" v-model="master_user.sel[v.field]" :precision="4"
                                     :controls="false" style="width:180px"></el-input-number>
                </el-form-item>
            </span>
            <span v-else-if="v.type=='char' ||v.type=='boolean'">
                <el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
                    <el-input type="text" :rows="1" size="mini" placeholder="Input Something"
                              v-model="master_user.sel[v.field]" style="width:180px" maxlength="10"
                              show-word-limit="true"></el-input>
                </el-form-item>
            </span>
            <span v-else>
                <el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
                    <el-input type="textarea" :rows="2" size="mini" placeholder="Input Something"
                              v-model="master_user.sel[v.field]" style="width:180px" maxlength="500"
                              show-word-limit="true"></el-input>
                </el-form-item>
            </span>

        </el-col>
    </el-row>
</el-form>
<div slot="footer" class="dialog-footer">
    <el-button @click="pwdChange(row_sel,0,false)">取 消</el-button>
    <el-button type="primary" @click="pwdChange(row_sel,0,true)">确 定</el-button>
</div>
</el-dialog>
</span>
    </el-row>
</div>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>-->
<script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/json-bigint-parser-browser@1.0.4/json-bigint-browser.min.js"></script>
<script src="/static/js/entity_setup.js"></script>
</body>

</html>
