<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Entity Setup</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<style lang="css" scoped>
			.bg-purple-light {
                background: #e5e9f2;
            }

            .el-dropdown {
                vertical-align: top;
            }
            .el-dropdown + .el-dropdown {
                margin-left: 15px;
            }
            .el-icon-arrow-down {
                font-size: 12px;
            }
            //.el-input__inner[readonly] {
            //      background-color: #EEEEEE;
            //}

            .input_mini .el-input__inner[disabled=false]{
              height: 27px !important;
              font-size:10px !important;
            }
            .input_mini .el-input__inner[disabled]{
              height: 27px !important;
              font-size:10px !important;
              background-color: #F6F6FF;
            }
            .el-form-item__content{
             line-height:20px !important;
            }
            .el-form-item__label{
             line-height:30px !important;
            }
            .notifyCustomClass{
              font-size:10px;
            }
            .el-notification__title{
              font-size:10px;
            }
            .el-notification__content{
              font-size:10px;
            }

    </style>
	</head>
	<body>
		<div id="app1" v-show="showapp1">
			<el-row>
				<el-col span="24">
					<div class="grid-content bg-purple-light">
						<span class="demonstration">选择实体: </span>
						<el-select id="entity_selector" v-model="select1" placeholder="请选择实体" filterable @change="handleClick">
							<el-option
									   v-for="item in options"
									   :key="item.value"
									   :label="item.label"
									   :value="{ value: item.value, label: item.label }">
							</el-option>
						</el-select>
					</div>
				</el-col>
			</el-row>
			</br>
		</div>
		<div id="app">
			<el-row>
				<el-col :span="24">
					<div>
<!--						[<b>{{selected_entity_name}}</b>] 列表信息:-->
<!--						<br />-->
						<span class="el-tag el-tag--info" style="cursor: pointer;background-color:#0088FF"
							  @click="add">
							<el-tooltip placement="top">
								<div slot="content">New</div>
								<i class="el-icon-plus" style="color:#FFFFFF">新增</i>
							</el-tooltip>
						</span>
						<span class="el-tag el-tag--info" style="cursor: pointer;background-color:#0088FF"
							  @click="delete_multi_record">
							<el-tooltip placement="top">
								<div slot="content">Del</div>
								<i class="el-icon-delete" style="color:#FFFFFF">删除</i>
							</el-tooltip>
						</span>
					</div>
					<el-table size="mini" :data="master_user.data.slice((currentPage-1)*pagesize,currentPage*pagesize)"
							  highlight-current-row :key="itemkey"
							  v-loading="loading"
                              :default-sort = "{prop: 'id', order: 'descending'}"
                              :summary-method="getSummaries" show-summary
							  element-loading-text="稍安勿躁，拼命加载中..."
							  element-loading-spinner="el-icon-loading"
							  element-loading-background="rgba(220, 220, 220, 0.8)" height="450" border style="width:100%"
							  :header-cell-style="{'background-color': '#dddddd','color': 'rgb(0, 0, 0)','border-bottom': '1px rgb(200, 200, 200) solid'}"
							  :cell-style="cellStyle"
							  @selection-change="handleSelectionChange">
						<el-table-column width="45" type="index" label="No."></el-table-column>
						<el-table-column width="45" type="selection" :selectable="checkSelect" align="center" >
						</el-table-column>
						<el-table-column label="操作" width="55" align="center">
							<template slot-scope="scope">
								<span v-if="scope.row['active_flag']!='N'">
									<span class="el-tag el-tag--info el-tag--mini" style="cursor: pointer;"
										  @click="openDialog(scope.row,scope.$index)">
										<el-tooltip placement="top">
											<div slot="content">编辑</div>
											<i class="el-icon-edit"></i>
										</el-tooltip>
									</span>
								</span>
							</template>
						</el-table-column>
						<el-table-column v-for="(v,i) in master_user.columns" :prop="v.field" :label="v.title" :type="v.type"
										 :width="v.width" :formatter="stateFormat" sortable v-if="v.tab_visible">
							<template slot-scope="scope">
								<span v-if="v.lookup_entity&&scope.row[v.field+'_title']">
									<span v-if="scope.row[v.field]&&scope.row[v.field].length>=1&&scope.row[v.field+'_title']&&scope.row[v.field]!=scope.row[v.field+'_title']">
										{{scope.row[v.field+"_title"]}}
									</span>
								</span>
								<span v-else-if="v.lookup_entity">
									{{scope.row[v.field]}}
								</span>
								<span v-else-if="v.is_key=='N'&&(v.type=='int' ||v.type=='bigint' ||v.type=='money' ||v.type=='float' ||v.type=='numeric'||v.type=='decimal'||v.type=='number')">
									{{numberFormat(scope.row[v.field])}}
								</span>
								<span v-else>
									{{scope.row[v.field]}}
								</span>
							</template>
						</el-table-column>

					</el-table>
					<div class="pagination">
						<el-pagination
									   @size-change="handleSizeChange"
									   @current-change="handleCurrentChange"
									   :current-page="currentPage"
									   :page-sizes="[10, 30, 50, 100]"
									   :page-size="pagesize"
									   layout="slot,sizes,prev, pager, next"
									   :total="master_user.data.length">
							<span style="font-weight:normal">Total:
							 <span v-if="master_user.data.length<=1000">{{master_user.data.length}}</span>
						     <span v-else>5000+</span>
							&nbsp;</span>
						</el-pagination>
					</div>
				</el-col>
			</el-row>

			<el-row>
				<!-- Form dialog -->
				<span v-if="master_user.sel">
					<el-dialog :title="dialog_title" :visible.sync="dialogFormVisible" width="1024px" :modal-append-to-body='false'>
						<el-form :model="master_user" ref="formSubmit">
							<el-row>
								<el-col v-for="(v, i) in master_user.columns" :key="v.field" :span="12" style="height:50px" v-if="v.visible">
									<span v-if="v.type=='datetime' || v.type=='timestamp'">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-date-picker size="mini" style="width:250px" :id="v.field+master_user.sel['$_clmn_id_']"
															v-model="master_user.sel[v.field]" @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
															type="datetime" format="yyyy-MM-dd HH:mm:ss"
															value-format="yyyy-MM-dd HH:mm:ss"
															placeholder="选择日期和时间" :disabled="v.readonly">
											</el-date-picker>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.type=='date'">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-date-picker size="mini" style="width:250px" :id="v.field+master_user.sel['$_clmn_id_']"
															v-model="master_user.sel[v.field]" @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
															type="date" :disabled="v.readonly"
															value-format="yyyy-MM-dd"
															placeholder="选择日期">
											</el-date-picker>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.lookup_entity && v.lookup_flag=='Y'&&v.lookup_entity=='lookup_classify'&&v.lookup_type&&v.lookup_type.trim().length>0">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-select size="mini" :id="v.field+master_user.sel['$_clmn_id_']" v-model="master_user.sel[v.field]" multiple collapse-tags clearable :key="itemkey1"
													   @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])" filterable style="width:250px" :disabled="v.readonly">
												<el-option
														   v-for="item in v.lookup_entity_list"
														   :key="item.key"
														   :label="item.label"
														   :value="item.value"
														   :disabled="item.disabled">
												</el-option>
											</el-select>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.lookup_entity&&v.lookup_entity=='lookup_classify'&&v.lookup_type&&v.lookup_type.trim().length>0">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-select size="mini" :id="v.field+master_user.sel['$_clmn_id_']" v-model="master_user.sel[v.field]" clearable :key="itemkey1"
													   @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])" filterable style="width:250px" :disabled="v.readonly">
												<el-option
														   v-for="item in v.lookup_entity_list"
														   :key="item.key"
														   :label="item.label"
														   :value="item.value"
														   :disabled="item.disabled">
												</el-option>
											</el-select>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.lookup_entity">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<entity-select  size="mini" :id="v.field+master_user.sel['$_clmn_id_']" :value="master_user.sel[v.field]" width="250" placeholder="请选择内容"
															:disabled="v.readonly" :multi_select="v.lookup_flag&&v.lookup_flag=='Y'" :entity="v.lookup_entity" :parent_entity_code="v.parent_entity_code" :parent_data_id="master_user.sel['$parent_data_id-'+v.field]"
															@change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'],$event)">
                      						</entity-select>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.is_key=='N'&&(v.type=='bigint' ||v.type=='int')">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
                                            <currency-input class="input_mini" v-model="master_user.sel[v.field]" :id="v.field+master_user.sel['$_clmn_id_']"
                                                            @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
                                                            :decimal="0" :maxlength="v.length" style="width:250px;" symbol="" :disabled="v.readonly"></currency-input>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.is_key=='N'&&(v.type=='float' ||v.type=='numeric'||v.type=='decimal'||v.type=='number'||v.type=='money')">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
                                            <currency-input class="input_mini" v-model="master_user.sel[v.field]" :id="v.field+master_user.sel['$_clmn_id_']"
                                                            @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
                                                            :decimal="v.decimal" :maxlength="v.length" style="width:250px;" symbol="" :disabled="v.readonly"></currency-input>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.is_key=='Y'&&(v.type=='bigint' ||v.type=='int')">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-input v-model="master_user.sel[v.field]" :rows="1" size="mini" @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
													  placeholder="Input Number" :id="v.field+master_user.sel['$_clmn_id_']"
													  style="width:250px" oninput="value=value.replace(/[^0-9]/g,'')" :maxlength="v.length" :disabled="v.readonly">
											</el-input>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.type=='char' ||v.type=='boolean'">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-input type="text" :rows="1" size="mini" placeholder="Input Something" :id="v.field+master_user.sel['$_clmn_id_']" @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
													  v-model="master_user.sel[v.field]" style="width:250px" :maxlength="v.length"
													  :disabled="v.readonly"></el-input>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else-if="v.type=='blob' ||v.type=='clob'">
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-upload :id="v.field+master_user.sel['$_clmn_id_']"
													   action=""
													   :file-list="fileList"
													   @on-change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
													   :http-request="getFile" :disabled="v.readonly">
												<el-button size="small" type="primary">上传</el-button>
											</el-upload>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
									<span v-else>
										<el-form-item :label="v.title" :prop="v.field" :label-width="formLabelWidth">
											<span v-if="v.is_null=='N'">
												<font color="red">*</font>
											</span>
											<span v-else>
												&nbsp;
											</span>
											<el-input type="textarea" :rows="1" size="mini" placeholder="Input Something" :id="v.field+master_user.sel['$_clmn_id_']" @change="onchange(v.field,master_user.sel,master_user.sel['$_clmn_id_'])"
													  v-model="master_user.sel[v.field]" style="width:250px" :maxlength="v.length" :disabled="v.readonly"></el-input>
											<el-button size="mini" style="margin:auto 0px;border:0;padding:0" v-show="v.message_key!=null"
												icon="el-icon-question" circle  @click="tip_show(v.message_key)">
											</el-button>
										</el-form-item>
									</span>
								</el-col>
							</el-row>
						</el-form>
						<div slot="footer" class="dialog-footer">
							<el-button @click="cancel_action(master_user.sel,-1)">取 消</el-button>
							<el-button type="primary" @click="submit_update_data(master_user.sel,master_user.sel.$_clmn_id_)">确 定</el-button>
						</div>
					</el-dialog>
				</span>
			</el-row>
		</div>
		<!-- import Vue before Element -->
		<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
		<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/json-bigint-parser-browser@1.0.4/json-bigint-browser.min.js"></script>
        <script src="js/accounting.js"></script>
		<script src="js/main.js"></script>
		<script src="js/entity_edit.js"></script>
    	<script src="js/entity_select_component.js"></script>
	</body>

</html>
