<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entity Setup</title>
    <link rel="stylesheet" href="css/index.css">
    <style>

      .el-container {
        margin-top: 10px;
        margin-bottom: 0px;
        //height:730px;
        width:100%;
        align: center;
      }
      .el-header {
        background-color: #C3D0E1;
        color: #333;
        text-align: left;
        height: 30px;
        line-height: 30px;
        padding:2px;
      }
      .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 30px;
        position: fixed;
      }

      .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        overflow-y:hidden;
        //line-height: 1400px;
        //height:100%;
        padding:0px;
      }
    .layout-container {
      height: 50%;
    }
    .iframe {
      position: fixed;
    }
	.el-form-item__content{
	 line-height:20px !important;
	 margin-left: 100px !important;
	 margin-top: 10px;
	}
	.el-form-item__label{
	 line-height:30px !important;
	 margin-top: 10px;
	}
    </style>
</head>
<body>
<div id="app1"  align="center">
        <el-container>
		  <el-header style="height:45px">
            <el-row  align="left" style="text-align:left">
                <el-col span="24">
                    <div class="grid-content bg-purple-light">
                        <span class="demonstration">实体选择: </span>
                        <el-select v-model="select1" filterable placeholder="请选择实体" @change="handleClick">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="{ value: item.value, label: item.label }">
                            </el-option>
                        </el-select>
                        <!-- <el-button type="primary" @click="setup(select_value)">Entity Config</el-button> -->
<!--                        <el-button type="primary" icon='el-icon-plus' @click="entity_add">新增</el-button>-->
<!--                        <el-button type="primary" icon='el-icon-delete' @click="entity_del">删除</el-button>-->
                        <el-button type="primary" icon='el-icon-circle-check' @click="entity_author">授权</el-button>
                    </div>
                </el-col>
            </el-row>
          </el-header>
        </el-container>
        <el-container>
		  <el-header style="height:30px">
                <span v-if="lang&&lang=='zh'">数据视图配置</span>
                <span v-else>Data View Config:</span>
          </el-header>
          <el-main>
            <iframe class="mmtx_iframe_class" :src="iframe_url"  frameborder="0" scrolling="no" style="width:100%;border:0"></iframe>
          </el-main>
        </el-container>
        <el-container>
		  <el-header style="height:30px">
                <span v-if="lang&&lang=='zh'">数据视图输入条件</span>
                <span v-else>Data View Config:</span>
          </el-header>
          <el-main>
            <iframe class="mmtx_iframe_class" :src="iframe_url2"  frameborder="0" scrolling="no" style="width:100%;border:0"></iframe>
          </el-main>
        </el-container>
        <el-container>
		  <el-header style="height:30px">
                <span v-if="lang&&lang=='zh'">数据视图输出条件</span>
                <span v-else>Data View Config:</span>
          </el-header>
          <el-main>
            <iframe class="mmtx_iframe_class" :src="iframe_url3"  frameborder="0" scrolling="no" style="width:100%;border:0"></iframe>
          </el-main>
        </el-container>

        <el-dialog title="元数据实体授权" :visible.sync="authorFormVisible" width="1024px">
            <el-form :model="author_data" ref="formSubmit01">
                <el-row>
                    <el-col :span="12" style="height:50px">
                        <el-form-item label="entity_id" prop="entity_id" label-width="160px">
                            <el-input size="mini" placeholder="Input Something"
                                      v-model="author_data.md_entity_id" style="width:250px"
                                      show-word-limit="true" disabled></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="height:50px">
                        <el-form-item label="entity_name" prop="entity_name" label-width="160px">
                            <el-input size="mini" placeholder="Input Something"
                                      v-model="author_data.md_entity_name" style="width:250px"
                                      show-word-limit="true" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>

                    <el-col :span="12" style="height:50px">
                        <el-form-item label="群组选择" label-width="160px">
                            <el-select size="mini" v-model="author_data.data_group_id" placeholder="请选择群组" filterable
                                       collapse-tags style="margin-left: 0px;width:250px" multiple>
                                <el-option
                                        v-for="item in group_options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="height:50px">
                        <el-form-item label="数据权限范围" label-width="160px">
                            <el-select size="mini" v-model="author_data.data_privilege_id" placeholder="请选择数据权限"
                                       @change=""
                                       filterable collapse-tags style="margin-left: 0px;width:250px" multiple>
                                <el-option
                                        v-for="item in data_privilege_options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    <span style="float: left">{{ item.label }}</span>
                                    <span style="float: right; color: #8492a6; font-size: 13px">{{ item.key }}</span>
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12" style="height:50px">
                        <el-form-item label="角色选择" label-width="160px">
                            <el-select size="mini" v-model="author_data.role_id" placeholder="请选择角色" filterable
                                       collapse-tags @change=""
                                       style="margin-left: 0px;width:250px" multiple>
                                <el-option
                                        v-for="item in role_options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" style="height:50px">
                        <el-form-item label="操作权限" label-width="160px">
                            <el-select size="mini" v-model="author_data.authorization_id" placeholder="请选择操作权限"
                                       filterable collapse-tags @change="handleAuthChange"
                                       style="margin-left: 0px;width:250px" multiple>
                                <el-option
                                        v-for="item in authorize_options"
                                        :key="item.key"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="authorFormVisible =false">取 消</el-button>
                <el-button type="primary" @click="submit_auth">确 定</el-button>
            </div>
        </el-dialog>
</div>
<!-- import Vue before Element -->
<!--<script src="js/vue.js"></script>-->
<script src="js/vue.min.js"></script>
<script src="js/element_index.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/json-bigint-browser.min.js"></script>
<script src="js/main.js"></script>
<script src="js/view_cfg.js"></script>
</body>

</html>
